* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.headlines {
  width: 300px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 3px 3px 3px rgb(210, 210, 210);
  padding: 0.5rem;
  /* height: 300px; */
}
.headlines img {
  width: 100%;
  margin-bottom: 10px;
  /* height: 100%; */
}
.headlines p {
  margin: 10px 0;
}
.headlines footer {
  display: flex;
  justify-content: space-between;
}
.headlines .removeBtn {
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 5px 0;
  margin: 10px 0;
  cursor: pointer;
}
